<div
  *ngIf="note !== undefined"
  class="p-2 text-grey hover:bg-white/5 rounded-md flex flex-row gap-1 items-center justify-start hover:cursor-pointer m-1"
  (click)="onNoteClick()"
  [attr.isActive]="isActive"
  id="mainContainer"
>
  <mat-icon *ngIf="note.needsExport" class="min-w-[24px]">upgrade</mat-icon>
  <h3 class="no-select" *ngIf="note.title.length > 0 else emptyTitlePlaceholder">
    {{ note.title }}
  </h3>
  <ng-template #emptyTitlePlaceholder>
    <h3 class="no-select italic" #emptyTitlePlaceholder>
      Untitled note
    </h3>
  </ng-template>
  <span class="flex-1"></span>
  <button
    *ngIf="!note.onBin"
    class="hidden hover:bg-grey/5 flex-col justify-center z-10"
    (click)="moveToBinClick($event)"
  >
    <mat-icon>close</mat-icon>
  </button>
  <button
    *ngIf="note.onBin"
    class="hidden hover:bg-white/5 flex-col justify-center"
    (click)="restoreClick()"
  >
    <mat-icon>restore_from_trash</mat-icon>
  </button>
</div>
