<div
  class="flex flex-row justify-items-stretch items-stretch max-w-[100vw] overflow-hidden"
>
  <app-notes-list
    class="flex-[20%] w-[20%] basis-[100%]"
    [allNotes]="allNotes"
    [notesOnBin]="notesOnBin"
    [currentNoteId]="currentNoteId"
    [isBinExpanded]="isBinExpanded"
    (onNoteCreateClick)="createNote()"
    (onNoteMoveToBin)="moveNoteToBin($event)"
    (onToggleBin)="toggleBin()"
    (onNoteRestore)="restoreNote($event)"
  ></app-notes-list>
  <app-note-form
    class="flex-[80%] flex-shrink-0"
    [note]="currentNote"
    *ngIf="currentNote !== undefined"
    (onNoteChange)="saveUpdate($event)"
    (onDeleteClick)="deleteNote()"
  ></app-note-form>
  <div
    *ngIf="currentNote === undefined"
    class="flex flex-col justify-center items-center flex-[80%] flex-shrink-0"
  >
    <span class="text-white text-2xl">No note opened</span>
  </div>
</div>
