<div class="flex flex-col items-center justify-center p-2 gap-2" *ngIf="currentNote !== undefined">
    <div class="flex flex-1 w-[100%] flex-row justify-between gap-2">
        <span class="flex-1"></span>
        <button mat-stroked-button (click)="redirectBack()">GO BACK</button>
    </div>
    <div class="flex flex-col items-center">
        <span class="text-white text-xl font-bold">{{currentNote.title}}</span>
        <button mat-stroked-button (click)="toggleSize()">TOGGLE SIZE</button>
    </div>
    <qrcode [qrdata]="'# ' + currentNote.title + '\n' + currentNote.content" [width]="qrcodeSizes[sizeIndex]" [errorCorrectionLevel]="'M'"></qrcode>
</div>