<div
  class="flex flex-col h-[100vh] w-[100%] max-w-[100%] overflow-hidden bg-black-darkest"
  attr.binExpanded="{{ isBinExpanded }}"
  id="main"
>
  <div
    class="flex flex-1 flex-row items-stretch justify-items-stretch p-2 pb-0 box-border"
  >
    <button mat-button class="flex-1" (click)="createNote()">
      <mat-icon>add</mat-icon>
      New Note
    </button>
  </div>
  <div
    class="flex flex-col items-stretch mr-2 p-2 w-[100%] max-w-[100%] overflow-y-auto overflow-x-hidden"
    id="notesScrollContainer"
  >
    <div *ngFor="let note of allNotes.slice().reverse(); index as i">
      <app-note-list-item
        [note]="note"
        [isActive]="currentNoteId === note.id"
        (onSelect)="openNote(note.id)"
        (onDeleteClick)="onNoteMoveToBin(note.id)"
      ></app-note-list-item>
      <hr class="border-white/50" *ngIf="i + 1 !== allNotes.length" />
    </div>
  </div>
  <div
    class="flex flex-row justify-start items-center h-[40px] bg-black-darker gap-1 pl-2 hover:cursor-pointer no-select"
    (click)="toggleBin($event)"
  >
    <mat-icon *ngIf="isBinExpanded" class="text-white/60">expand_more</mat-icon>
    <mat-icon *ngIf="!isBinExpanded" class="text-white/60"
      >expand_less</mat-icon
    >
    <span class="text-white/70">Trash bin</span>
  </div>
  <div
    class="flex flex-col items-stretch w-[100%] max-w-[100%] overflow-y-auto overflow-x-hidden"
    id="binScrollContainer"
  >
    <div *ngFor="let note of notesOnBin.slice().reverse(); index as i">
      <app-note-list-item
        [note]="note"
        [isActive]="currentNoteId === note.id"
        (onSelect)="openNote(note.id)"
        (onRestoreClick)="onRestore(note.id)"
      ></app-note-list-item>
      <hr class="border-white/50" *ngIf="i + 1 !== notesOnBin.length" />
    </div>
  </div>
</div>
