<div class="flex flex-col h-[100vh] w-[100%] max-w-[100%] overflow-hidden" id="sidebarContainer">
  <div
    class="flex flex-1 flex-row items-stretch justify-items-stretch p-2 pb-0 box-border"
  >
    <button mat-button class="flex-1" (click)="createNote()">
      <mat-icon>add</mat-icon>
      New Note
    </button>
  </div>
  <div
    class="flex flex-col items-stretch mr-2 pl-2 pr-1 h-[100vh] w-[100%] max-w-[100%] overflow-y-auto overflow-x-hidden py-2"
    *ngIf="allNotes.length > 0"
    id="scrollContainer"
  >
    <div *ngFor="let note of allNotes.slice().reverse(); index as i">
      <app-note-list-item
        [note]="note"
        (onDeleteClick)="onNoteMoveToBin(note.id)"
        (onSelect)="openNote(note.id)"
        [isActive]="currentNoteId === note.id"
      ></app-note-list-item>
      <hr class="border-white/50" *ngIf="i + 1 !== allNotes.length" />
    </div>
  </div>
  <div
    class="flex flex-col items-stretch mr-2 pl-2 pr-1 h-[50vh] w-[100%] max-w-[100%] overflow-y-auto overflow-x-hidden py-2"
    *ngIf="notesOnBin.length > 0"
  >
    <div class="flex flex-row justify-center h-[40px]" id="binToggle">
      <mat-icon>delete_outline</mat-icon>
      <span class="text-gray-300">Trash bin</span>
    </div>
    <div *ngFor="let note of notesOnBin.slice().reverse(); index as i">
      <app-note-list-item [note]="note" (onSelect)="openNote(note.id)" [isActive]="currentNoteId === note.id"></app-note-list-item>
      <hr class="border-white/50" *ngIf="i + 1 !== notesOnBin.length" />
    </div>
  </div>
</div>
